{{ define "main" }}
<div class="post">

    <div class="post-header-section">
        <h1>{{ or (.Params.H1 | markdownify) (.Title | markdownify) }}</h1>
    </div>

    <div class="post-content">
        {{ .Content }}
    </div>

    <div class="grid">
    {{ range ((where .Site.RegularPages "Params.type" "project").ByParam "yearStarted").Reverse }}
        {{ .Render "view_card" }}
    {{ end }}
    </div>

    <!-- Back to top button -->
    {{ if .Site.Params.ShowBackToTopButton }}
        {{ partial "back-to-top.html" . }}
    {{ end }}
</div>
{{ end }}
